.theoV{
    background-color: #99CCFF; 
    border: 1px solid #3c8dbc;
    text-align: center; 
    vertical-align: middle; 
    padding: 3px; width: 50px;
    /* max-width: 5px; */
 }

 .labB{
    background-color: #CCCCFF; 
    border: 1px solid #3c8dbc; 
    text-align: center;           
    vertical-align: middle; 
    padding: 3px; width: 50px;
    /* max-width: 25px; */
 }

.dayBoxes{
    /* paraBoxes2 */
    border: 1px solid #3c8dbc; text-align: center; 
    vertical-align: middle; 
    padding: 3px;
    max-width: 40px;

}
.typeOfClassBoxes{
    /* paraBoxes1 */
    border: 1px solid #3c8dbc; text-align: center;         
    vertical-align: middle; 
    padding: 3px; 
    width: 20px;
}

.slotBoxes{
    /* cBoxes */
    border: 1px solid #3c8dbc; 
    text-align: center; 
    height: 39px;
    max-width: 15px;
    min-width: 10px;
    vertical-align: middle; 
    padding: 3px; width: 50px;
}


.detailsTable th{
    font-size: 17px;
    background-color: rgb(57, 168, 194);
    color: white;
    padding: 3px;
}
.detailsTable{
    text-align: center;
    width: 100%;
    border-collapse: collapse;

}

.moveBtn{
    background-color: #55cf3d;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    overflow: hidden;
    padding: 5px 9px;
    transition: .3s;
}
.moveBtn:hover{
    background-color: #51bc3c;
}
